/* About Section */
#about {
    background: #f5f5f5;
    scroll-margin-top: 270px;
  }
  
  #about p {
    background: #f5f5f5;
    padding: 80px 20px;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.8;
    color: #555;
  }
  
  