.login-container {
  width: 300px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;

  /* Center the login box */
  position: absolute; /* Absolute positioning */
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%); /* Move back by half width & height */
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  margin-top: 8px;
  width: 90%;
  padding: 10px;
  border: none;
  background-color: #00796B;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #004D40;
}
