body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  /* scroll-behavior: smooth; */
  height: 100%;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

/* Section Styling */
section {
  padding: 80px 20px;
  text-align: center;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
}